body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}

.container {
    width: 50%;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}
table {
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  border-spacing: 0;
  background-color: #FFF;
  word-break: break-all;
}

table th,
table td {
  padding: 1em;
  font-size: 0.8em;
  text-align: left;
  font-weight: normal;
}

table th {
  padding-top: 0;
  font-size: 0.7em;
  text-transform: uppercase;
  opacity: 0.5;
}

table tbody tr:nth-child(odd) {
  background-color: #F7F8FA;
}

table tbody tr:hover {
  background-color: rgb(100, 196, 205);
  background-color: rgba(100, 196, 205, 0.2);
}

.table-action {
  opacity: 0.5;
}

.table-action:hover {
  opacity: 1;
}

#instructor {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}
